body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    margin: auto;
    
}
.menu-section {
   background: rgb(7, 7, 43);
   height: 100px;
   width: 100%;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 18px;
}
.link {
	text-decoration: none;
}
.list {
	list-style: none;
}
.intelegent-logo {
    margin-left: 150px;
}
.logo-div {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #3A68B8;
    font-size: 20px;
}
.menu-ul {
    display: flex;
    margin-right: 220px;
}
.menu-li {
    color: #fff;
    padding-left: 40px;
}
.button-div {
    margin-right: 150px;
}
.button {
background: #3A68B8;
width: 112px;
height: 52px;
border-radius: 5px;
border: none;
cursor: pointer;
}
.button:hover {
    background: #234786;
}
.button-link {
    font-size: 16px;
    color: #fff;
}

/*INTELEGENT*/
.section-intelegent {
    background: rgb(7, 7, 43);
    margin-top: -20px;
    width: 100%;
}
.intelegent {
   padding-top: 100px;
   margin-left: 150px;
}
.intelegent-h2 {
    font-size: 18px;
    text-transform: uppercase;
    color: #3A68B8;
}
.intelegent-h1 {
    font-size: 55px;
    color: #fff;
    line-height: 130%;
}
.intelegent-h3 {
        font-size: 18px;
        color: #fff;
        margin-top: -20px;
}
.intelegent-div {
    margin-left: 150px;
}
.intelegent-button {
    background: #3A68B8;
    width: 171px;
    height: 57px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.intelegent-button:hover {
    background: #234786;
}
.intelegent-button1 {
    background: #3A68B8;
    width: 171px;
    height: 57px;
    border-radius: 5px;
    border: none;
    margin-left: 30px;
    cursor: pointer;
}
.intelegent-button1:hover {
    background: #234786;
}
.intelegent-button_p {
    color: #fff;
    font-size: 20px;
}
.intelegent-button_e{
    color: #fff;
    font-size: 20px;
}
.img {
    position: absolute;
    margin-left: 850px;
    padding-top: 100px;
}
.intelegent-img {
    width: 450px;
}
.intelegent-bo {
    align-items: center;
}
.intelegent-brend_div {
    margin-top: 150px;
}
.intelegent-brend {
    display: flex;
    justify-content: center;
    margin-right: -40px;
    padding-bottom: 80px;
}
.intelegent-brend_li {
    padding-right: 40px;
}
/*END INTELEGENT*/

/*APPLY*/
.apply-section {
    background: rgb(5, 5, 36);
    margin-top: -18px;
    height: 680px;
    width: 100%;
}
.apply-title {
    margin-left: 150px;
}
.img-apply {
    padding-top: 100px;
}
.apply-img {
    width: 450px;
    position: absolute;
}
.apply-h2 {
    font-size: 40px;
    color: #fff;
}
.apply-text {
    font-size: 16px;
    color: #fff;
    opacity: 70%;
}
.apply {
    margin-left: 530px;
    margin-top: 120px;
}
.apply-button {
    background: #3A68B8;
    width: 112px;
    height: 52px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    }
.apply-button:hover {
    background: #234786;
}
 .apply-button-link {
        font-size: 16px;
        color: #fff;
    }
/*END APPLY*/

/*BLOCK*/
.block{
  padding-top: 80px;
  background: rgb(5, 5, 36);
}
.block-ul {
    display: flex;
    margin-left: 50px;
    margin-right: 60px;
    padding-bottom: 80px;
}
.block-li {
  margin-right: 40px;
  padding-right: 20px;
  padding-left: 20px;
  background: rgba(255, 255, 255, 0.048);
  border-radius: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
}
.block-h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}
.block-text {
    color: #fff;
    font-size: 16px;
}
/*END BLOCK*/

/*SOLUTIONS*/
.solutions {
    background: rgb(5, 5, 36);
    margin-top: -18px;
    height: 660px;
}
.solutions-h3 {
    color: #fff;
    font-size: 40px;
}
.solutions-text {
    color: #fff;
    font-size: 16px;
    opacity: 0.7;
}
 .solution-img {
     position: absolute;
    margin-left: 770px;
    padding-top: 160px;
 }
 .solution2-img {
     width: 450px;
 }
 .solution-blog {
     margin-left: 170px;
     padding-top: 100px;
 }
/*END OLUTIONS*/

/*FOOTER*/
.footer {
    background: rgb(7, 7, 43);
    margin-top: -18px;
    height: 440px;
    width: 100%;
}
.footer-div {
   margin-left: 140px;
   padding-top: 70px;
}
.footer-li {
    display: flex;
}
.footer-p {
    color:#fff;
    opacity: 60%;
    font-size: 14px;
}
.footer-p:hover{
color: #3A68B8;
}
.footer-h4 {
    font-size: 16px;
    color:#fff
}
.footer-list {
    margin-left: 32px;
}
.footer-email {
    font-size: 14px;
    color:#fff
}
.footer-tel {
    color: #fff;
    font-size: 14px;
}
.footer-clo {
    font-size: 14px;
    color: #fff;
}
.footer-a {
    color: #3A68B8;
    font-size: 15px;
}
.footer-icons {
    margin-right: 10px;
}
.company {
    color: #fff;
    font-size: 14px;
}
.company:hover {
    color: #3A68B8;
}
.footer-icons-div {
margin-left: -15px;
}
.inst {
    margin-left: 15px;
    opacity: 50%;
}
/*END FOOTER*/